@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

:root {
    --green: #049c05;
    --dark-green: #004e01;
    --grey: #363636;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--grey);
    font-family: "Liter", sans-serif;
    letter-spacing: 1.3px;
    overflow-x: hidden;
    overflow-y: scroll; 
}

#index {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
    margin: 90px 8vw 0 8vw;
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.25);
    text-align: center;
}

h2 {
    font-size: 30px;
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.25);
    margin: 0 8vw 0 8vw;
}

h3 {
    font-size: 20px;
    margin: 0 8vw 0 8vw;
}

p {
    font-size: 20px;
    margin: 0 8vw 0 8vw;
}

.main-p {
    text-align: center;
}

.subtle-animation {
    opacity: 0;
    filter: blur(5px);
}

.strong-animation {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);    
}

.upward-animation {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);   
}

.lan-change-animation {
    transition: opacity 0.5s;
} 

.visible {
    transition: all 2s;
    filter: blur(0);
    opacity: 1;
    transform: translateX(0) translateY(0);
}


#navigation {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: black;
    box-shadow: 0 3px 10px var(--green);
    z-index: 2;
}

#navigation-links {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#navigation a {
    color: var(--dark-green);
    font-weight: 1000;
    font-size: 15px;
}

#current-page {
    color: var(--green) !important;
}


#lan-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    gap: 5px;

    opacity: 0;
    transition: opacity 0.5s linear;
}

.big#lan-btns {
    transform: scale(2);
    margin-top: 10px;
}

#lan-btns button {
    padding: 0;
    border: none;
    font-family: "Russo One";
    background-color: black;
    color: white;
    cursor: pointer;
}

#contents {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#contents h2 {
    margin: 0;
}

#contents h2:nth-child(2) {
    font-size: 26px;
    transition-delay: 200ms;
}

#contents h2:nth-child(3) {
    font-size: 22px;
    transition-delay: 300ms;

}

#contents h2:nth-child(4) {
    font-size: 18px;
    transition-delay: 400ms;
}


#name-title {
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 100px;
}


footer {  
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: black;
    color: #b2b193;
    box-shadow: 0 -3px 10px var(--green);
}

footer h3 {
    margin: 0;
    margin-top: 1vw;
    max-height: calc(100px - 1vw);
    margin-left: calc(clamp(150px, 15vw, 15vw) + 35px);
    text-align: left;
    color: white;
    font-weight: 500;
}

.hexagon {
    width: clamp(150px, 15vw, 15vw);
    aspect-ratio: 1/1;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    object-fit: cover; 

    position: absolute;
    bottom: calc(100px - clamp(150px, 15vw, 15vw) / 2);
    left: 25px;
}

/* websites: */

#websites-con {
    width: 80vw;
    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.website {
    width: 100%;
    gap: 2%;
    display: flex;
}

.website img {
    width: 49%;
    border-radius: 10px;
    object-fit: cover;
}

.website div {
    width: 49%;
    margin: 0;
    text-align: left;
}

.website h2 {
    margin: 0;
    text-decoration: underline;
    
}

.website h3 {
    margin: 0;
    
}

#getyoursnow {
    text-align: center;
}

#getyoursnow h1 {
    color: var(--green);
}

#getyoursnow button {
    width: 150px;
    height: 50px;
    border-radius: 80px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--green);
    color: white;
    margin: 20px 0 50px 0;
    cursor: pointer;
    transition: box-shadow 0.5s linear;
}

#getyoursnow button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

/* copy button: */

.copy-btn {
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: var(--green);
    padding: 3px;
    border-radius: 5px;
    border: 0;
    outline: 2px solid black;
    cursor: pointer;
    margin-left: 10px;
}

.copy-btn img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* who i am: */

#whoiam h2 {
    font-family: serif;
    margin: 30px 0 10px 0;
}

#whoiam h3 {
    text-align: center;
    margin: 0;
}

#whoiam img {
    margin-top: 30px;
    width: clamp(300px, 25vw, 25vw);
    border: 3px solid var(--dark-green);
    outline: 1px solid var(--green)
}

/* scroll bar: */

::-webkit-scrollbar {
    width: 5px;
    height: 90vw;
    z-index: 0;
    background-color: #444444;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}

/* phone: */

@media (max-width: 600px) {
    #name-title {
        font-size: 45px;
    }

    #contents {
        margin-bottom: 40vh;
    }

    .website img {
        width: 49%;
        aspect-ratio: 1/1.67;
        border-radius: 5px;
    }

    .website div {
        width: 49%;
        aspect-ratio: 1/1.67;
    }

    .website h2 {
        font-size: 18px;
    }
}


